@using System.Globalization
@model IEnumerable<Leblebi.ViewModels.MonthlyReportViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int year = ViewBag.year;
    int month = ViewBag.month;
    var firstDayOfMonth = new DateTime(year, month, 1);
    var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
    DateTimeFormatInfo dtfi = CultureInfo.GetCultureInfo("az-AZ").DateTimeFormat;
}

<style>
    .form {
        overflow-x: auto; /* Üfüqi sürüşdürmə aktiv olsun */
        max-width: 100%; /* Konteynerin genişliyini məhdudlaşdır */
    }

    .table {
        width: 100%; /* Cədvəl tam genişlikdə olsun */
        border-collapse: collapse; /* Sərhədləri birləşdir */
    }

    th, td {
        padding: 8px;
        border: 1px solid #ddd;
        text-align: center;
        white-space: nowrap; /* Sütunlar daralmasın */
    }

    .sticky-col {
        position: sticky;
        left: 0;
        top: 0;
        background-color: white !important; /* Sabit sütunun fon rəngi */
        z-index: 2; /* Üst qat */
        box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sərhəd effekti */
    }

</style>

<h1>Gündəlik İşçi maaşları</h1>

<div class="d-flex gap-4 align-items-center">
    <form asp-action="Index" class="d-flex gap-3 mb-3 align-items-center">
        <label for="year">İl:</label>
        <select id="year" class="form-control w-auto" name="year">
            @for (var i = 2021; i <= DateTime.Now.Year; i++)
            {
                if (i == year)
                {
                    <option value="@i" selected>@i</option>
                }
                else
                {
                    <option value="@i">@i</option>
                }
            })
        </select>
        <label for="month">Ay:</label>
        <select id="month" class="form-control" name="month">
            @for (var i = 1; i <= 12; i++)
            {
                if (i == month)
                {
                    <option value="@i" selected>@dtfi.GetMonthName(@i)</option>
                }
                else
                {
                    <option value="@i">@dtfi.GetMonthName(@i)</option>
                }
            })
        </select>
        <button type="submit" class="btn btn-primary">Axtar</button>
    </form>
    <p>
        <a asp-action="Create" class="btn btn-warning" asp-route-selectedYear="@year" asp-route-selectedMonth="@month">Maaş artır</a>
    </p>
    <p>
        <a download="download" class="btn btn-success" asp-action="ExcelReport" asp-route-year="@year" asp-route-month="@month">Excel çıxarış</a>
    </p>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                İşçi
            </th>
            @for (var date = firstDayOfMonth; date <= lastDayOfMonth; date = date.AddDays(1))
            {
                <th style="width:60px !important" class="sticky-col">
                    @date.ToString("dd")
                </th>
            }
            <th>
                Ümumi verilən məbləğ
            </th>
            <th>Qalan məbləğ</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="sticky-col">
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                @for (var i = firstDayOfMonth; i <= lastDayOfMonth; i = i.AddDays(1))
                {
                    var date = DateOnly.FromDateTime(i);
                    var salary = item.Reports.FirstOrDefault(x => x.Date == date);
                    if (salary == null)
                    {
                        <td style="width:60px !important"></td>
                    }
                    else
                    {
                        <td style="width:60px !important">
                            @salary.Value
                        </td>
                    }
                }
                <td>
                    @item.TotalValue
                </td>
                <td>
                    @item.SecondValue
                </td>
            </tr>
        }
    </tbody>
</table>
