@model IEnumerable<Leblebi.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>İşçi siyahısı</h1>

<p>
    <a asp-action="Create">İşçi artır</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*Html.DisplayNameFor(model => model.Name)*@
                Ad
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Surname) *@
                Soyad
            </th>
            <th>
                Maaş
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salary)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Düzəliş</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Ətraflı</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
        <tr>
            <td style="font-weight:bold; font-size:18px">
                Ümumi
            </td>
            <td style="font-weight:bold; font-size:18px">@Model.Count() işçi</td>
            <td style="font-weight:bold; font-size:18px">@Model.Sum(x => x.Salary) ₼</td>
        </tr>
    </tbody>
</table>
